<div class="col-md-12">
    <h3>Informação pessoal</h3>
    <br><br>    
    <form class="form-horizontal" role="form">
    <div class="form-group">
        <label class="col-lg-3 control-label">Nome:</label>
        <div class="col-lg-8">
        <input class="form-control" type="text"[(ngModel)] = "user.name" name="name">
        </div>
    </div>
    <div class="form-group">
        <label class="col-lg-3 control-label">Email:</label>
        <div class="col-lg-8">
        <input class="form-control" type="text" [(ngModel)] = "user.email" name="email">
        </div>
    </div>
    <div class="form-group">
        <label class="col-lg-3 control-label">Número de telefone:</label>
        <div class="col-lg-8">
        <input class="form-control" type="text" [(ngModel)] = "user.phonenumber" name="phonenumber">
        </div>
    </div>

    <div class="form-group">
        <label class="col-md-3 control-label"></label>
        <div class="col-md-8">
            <input type="button" class="btn btn-primary" value="Guardar mudanças">
            <span></span>      
            <button id="toProfileEdit2" (click)="cancel()" class="btn btn-default pull-right backbutton">Voltar atrás</button> 
        </div>
    </div>
    </form>
</div>