<h2>{{title}}</h2>
<hr>
<div class="panel panel-default">
    <div class="panel-heading">
        <div class="row">
            <div class="col-md-10">
                Perfil
            </div>
            <div class="col-md-2">
                <button id="btStudentProfEdit" class="btn btn-default pull-right" type="submit" [routerLink]="['/user/profile/edit', { outlets: {'profile-edit':['home']}}]">Alterar Perfil</button>
            </div>
        </div>
    </div>
    <!-- Profile -->
    <div class="panel-body">
        <div class="row">
            <div class="col-md-3">
                <img class="img-rounded" src="http://localhost:8080/photo/{{student?.id}}" style="width:100%; max-width: 270px; min-width: 150px;" alt="Image">
            </div>
            <div class="col-md-9">
                <div class="row">
                    <!-- NAME -->
                    <div class="col-md-2 col-sm-4 col-xs-12">
                        <h4><small>Nome</small></h4>
                    </div>
                    <div class="col-md-10 col-sm-8 col-xs-12">
                        <h4>{{student?.name}}</h4>
                    </div>
                </div>
                <div class="row">
                    <!-- EMAIL -->
                    <div class="col-md-2 col-sm-4 col-xs-12">
                        <h4><small>Email</small></h4>
                    </div>
                    <div class="col-md-10 col-sm-8 col-xs-12">
                        <h4>{{student?.email}}</h4>
                    </div>
                </div>
                <div class="row">
                    <!-- SCHOOL -->
                    <div class="col-md-2 col-sm-4 col-xs-12">
                        <h4><small>Número de Estudante</small></h4>
                    </div>
                    <div class="col-md-10 col-sm-8 col-xs-12">
                        <h4>{{student?.external_id}}</h4>
                    </div>
                </div>
                <div class="row">
                    <!-- COURSE -->
                    <div class="col-md-2 col-sm-4 col-xs-12">
                        <h4><small>Número de Telefone</small></h4>
                    </div>
                    <div class="col-md-10 col-sm-8 col-xs-12">
                        <h4>{{student?.phonenumber}}</h4>
                    </div>
                </div>
                <!--<div class="row">
                    <div class="col-md-2 col-sm-4 col-xs-12">
                        <h4><small>Group</small></h4>
                    </div>
                    <div class="col-md-10 col-sm-8 col-xs-12">
                        <a id="btStudentProfGroup{{student?.groupid}}" [routerLink]="['group/profile/', student?.groupid]" ><h4>{{student?.groupname}}</h4></a>
                    </div>
                </div>-->
            </div>
        </div>
    </div>
</div>
<!-- End Profile -->