<h2>{{title}}</h2>
<hr>
<div class="row">
    <div class="col-md-2">
    </div>
    <div class="col-md-8">
        <form class="form-horizontal" method="post">
            <div class="form-group">
                <label for="name" class="col-md-3 control-label">Nome Completo</label>
                <div class="col-md-9">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-user" aria-hidden="true"></i></span>
                        <input type="text" class="form-control" [(ngModel)]="register.name" name="name" id="tfSigninUserName" placeholder="Enter your Name" required/>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="numAluno" class="col-md-3 control-label">Número de Aluno</label>
                <div class="col-md-9">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-education" aria-hidden="true"></i></span>
                        <input type="text" class="form-control" [(ngModel)]="register.external" name="numAluno" id="tfSigninUserStudentNr" placeholder="Número de Aluno" required/>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="username" class="col-md-3 control-label">Email</label>
                <div class="col-md-9">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-user" aria-hidden="true"></i></span>
                        <input type="text" class="form-control" [(ngModel)]="register.email" name="username" id="tfSigninUserUsername" placeholder="Enter your Username" required/>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="password" class="col-md-3 control-label">Password</label>
                <div class="col-md-9">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-lock" aria-hidden="true"></i></span>
                        <input type="password" class="form-control" #password name="password" id="tfSigninUserPass" placeholder="Enter your Password" required/>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="confirm" class="col-md-3 control-label">Confirmar Password</label>
                <div class="col-md-9">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-lock" aria-hidden="true"></i></span>
                        <input type="password" class="form-control" #confirmpassword [(ngModel)]="register.password" name="confirm" id="tfSigninUserRepPass" placeholder="Confirm your Password" required/>
                    </div>
                </div>
            </div>
            <!--<div class="form-group">
                <label for="photo" class="col-md-3 control-label">Fotografia</label>
                <div class="col-md-9">
                    <div class="input-group" style="border: 1px solid #dddddd; border-radius: 5px;">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-picture" aria-hidden="true"></i></span>
                        <div class="col-md-10">
                            <input type="file" class="file" name="userPhoto" accept="image/*"/>
                        </div>
                    </div>
                </div>
            </div>    -->

            <div class="form-group">
                <label for="confirm" class="col-md-3 control-label">Escola</label>
                <div class="col-md-9">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-education" aria-hidden="true"></i></span>
                        <select class="form-control" id="slSigninUserSchool" name="school"  [ngModel]="selectedDevice" (ngModelChange)="onChange($event)" >
                            <option [value]="school.id" *ngFor="let school of getSchools">{{school.desc}}</option> 
                        </select>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="confirm" class="col-md-3 control-label">Curso</label>
                <div class="col-md-9">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-education" aria-hidden="true"></i></span>
                        <select class="form-control" id="slSigninUserCourse" name="course">
                            <option [value]="course.id" *ngFor="let course of getCourses">{{course.name}}</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="phone" class="col-md-3 control-label">Telemóvel</label>
                <div class="col-md-9">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-phone" aria-hidden="true"></i></span>
                        <input type="text" class="form-control" [(ngModel)]="register.phone" name="phone" id="tfSigninUserPhone" placeholder="Insira o seu número de telemóvel" required/>
                    </div>
                </div>
            </div>
            <!--<div class="form-group">
                <label for="confirm" class="col-md-3 control-label">Áreas de Intresse</label>
                <div class="col-md-9">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-education" aria-hidden="true"></i></span>
                        <select class="form-control" name="course">
                            <option value="rd">Redes</option>
                            <option value="prg">Programação</option>
                            <option value="si">Sistemas de Informação</option>
                            <option value="ia">Inteligencia Artificial</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="confirm" class="col-md-3 control-label">Tipo de perfil</label>
                <div class="col-md-9">
                    <div class="input-group">
                        <div class="container">
                            <form>
                                <label class="radio-inline">
                                     <input type="radio" name="optradio">Público
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" name="optradio">Privado
                                </label>
                            </form>
                        </div>
                    </div>
                </div>
            </div>-->
            <div class="form-group ">
                <div class="row">
                    <div class="col-md-10"></div>
                    <div class="col-md-2">
                        <button id="tfSigninUserRegister" type="button" class="btn btn-primary col-md-12" (click)="check(password.value,confirmpassword.value)" >Registar</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="col-md-2">
    </div>
</div>