<h1>{{title}}</h1>
<hr>
<div class="row">
    <p>{{project.name}}</p>
    <p>{{project.description}}</p>
    <form class="form" role="form" method="post" action="login" accept-charset="UTF-8" id="login-nav">
    <div *ngFor="let group of project.groups" class="row">
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <div class="caption">
                    <h3>{{group.name}}</h3>
                    <div *ngFor="let user of group.users">
                        <p>{{user.name}}</p>
                    </div>
                    <p><a (click)="accept(group.id)" class="btn btn-primary" role="button" >Accept</a></p>
                </div>
            </div>
        </div>
    </div>
    </form>
</div>