<h2>{{title}}</h2>
<hr>
<div class="panel panel-default">
    <div class="panel-heading">
        <div class="row">
            <div class="col-md-10">
                My Profile
            </div>
            <div class="col-md-2">
                <button class="btn btn-default pull-right" type="submit">Edit Profile</button>
            </div>
        </div>
    </div>
    <!-- Profile -->
    <div class="panel-body">
        <div class="row">
            <div class="col-md-3">
                <img class="img-rounded" src="https://placehold.it/250x350?text=IMAGE" style="width:100%; max-width: 270px; min-width: 150px;" alt="Image">
            </div>
            <div class="col-md-9">
                <div class="row">
                    <!-- NAME -->
                    <div class="col-md-2">
                        <h4><small>Name</small></h4>
                    </div>
                    <div class="col-md-10">
                        <h4>{{name}}</h4>
                    </div>
                </div>
                <div class="row">
                    <!-- MAIL -->
                    <div class="col-md-2 col-sm-4 col-xs-12">
                        <h4><small>Mail</small></h4>
                    </div>
                    <div class="col-md-10 col-sm-8 col-xs-12">
                        <h4>{{mail}}</h4>
                    </div>
                </div>
                <div class="row">
                    <!-- SCHOOL -->
                    <div class="col-md-2 col-sm-4 col-xs-12">
                        <h4><small>College</small></h4>
                    </div>
                    <div class="col-md-10 col-sm-8 col-xs-12">
                        <h4>{{college}}</h4>
                    </div>
                </div>
                <div class="row">
                    <!-- COURSE -->
                    <div class="col-md-2 col-sm-4 col-xs-12">
                        <h4><small>Course</small></h4>
                    </div>
                    <div class="col-md-10 col-sm-8 col-xs-12">
                        <h4>{{course}}</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Profile -->
<!-- Projects -->
<div class="panel panel-default">
    <div class="panel-heading">
        <div class="row">
            <div class="col-md-10">
                My Projects
            </div>
            <div class="col-md-2">
                <button class="btn btn-default pull-right" type="submit">Submit Project</button>
            </div>
        </div>
    </div>
    <!-- Profile -->
    <div class="panel-body">
        <div class="row">
            <div class="col-md-3">
                <img class="img-rounded" src="https://placehold.it/250x350?text=IMAGE" style="width:100%; max-width: 270px; min-width: 150px;" alt="Image">
            </div>
            <div class="col-md-9">
                <h4>{{project_name}}</h4>
            </div>
        </div>
    </div>
</div>

<!-- End Projects -->