<ul class="nav navbar-nav">
    <li><a id="routHome" routerLink="/home" routerLinkActive="active">Home</a></li>
    <li class="dropdown">
        <a id="routPubProj" (click)="load()" class="dropdown-toggle" data-toggle="dropdown" href="#">Projetos Públicos
        <span class="caret"></span></a>
        <ul class="dropdown-menu">
            <li *ngIf=" role != null" ><a id="routProjList" routerLink="/projects" routerLinkActive="active">Lista de Projetos</a></li>
            <li *ngIf="role=='teacher' && role != null"><a id="routSubProj" routerLink="/projectform" routerLinkActive="active">Submeter Projeto</a></li>
        </ul>
      </li>
    <li><a id="routPerfPub" routerLink="/students" routerLinkActive="active">Perfis Públicos</a></li>
</ul>
