<h2>{{title}}</h2>
<hr>
<!--*ngIf="projects && products.length"-->
<div class="panel panel-default">
    <div class="panel-heading">
        <div class="row">
            <div class="col-md-11">
                <h4>Projetos</h4>
            </div>
            <div class="col-md-1">
                <button type="button" class="btn btn-lg" data-toggle="modal" data-target="#projListModal" data-backdrop="false"><span class="glyphicon glyphicon-search"></span></button>
            </div>
        </div>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-12">
                <div class="row" *ngFor="let project of projects | projectFilter:searchFilter">
                    <div class="row">
                        <div class="col-md-9">
                            <h2>{{project.name}}</h2>  
                        </div>
                        <div *ngIf="project.approvedin == null" class="col-md-3">
                            <button id="btProjListAppl{{project.id}}" class="btn candidatura" type="button" [class.success]="false" (click)="modal.show(project.id)">Fazer Candidatura</button>
                        </div>
                    </div>  
                    <div class="row">
                        <div class="col-md-9">
                            <p>Ano Letivo: {{project.year}}</p>
                        </div>
                        <div class="col-md-3">
                            <div class="row">
                                <div class="col-md-6">
                                    Lançamento:
                                </div>
                                <div class="col-md-6">
                                    <span class="label label-primary col-md-12">{{project.created | date :  "dd/MM/y" }}</span>
                                </div>
                            </div>
                            <!--<div class="row">
                                <div class="col-md-6">
                                    Estado:
                                </div>
                                <div class="col-md-6">
                                    <span *ngIf="project.approvedin !== null" class="label label-danger col-md-12">Atribuido</span>
                                    <span *ngIf="project.approvedin === null" class="label label-sucess col-md-12">Não Atribuido</span>
                                </div>
                            </div>-->
                            <div *ngIf="project.approvedin != null" class="row">
                                <div class="col-md-6">
                                    Atribuição:
                                </div>
                                <div class="col-md-6">
                                    <span class="label label-danger col-md-12">{{project.approvedin | date:  "dd/MM/y" }}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2">
                            <button id="btProjListProf{{project.id}}" class="btn btn-primary col-md-12" [routerLink]="['/project', project.id]" >Ver mais...</button>
                        </div>
                        <div class="col-md-7"></div>
                        <!--<div class="col-md-3">
                            <button class="btn btn-primary col-md-12" *ngIf="project.state=='Por Atribuir'">Candidatar ao Projeto</button>
                        </div>-->
                        
                    </div>
                    <br>
                    <hr>
                </div>
            </div>
        </div>
    </div>
</div>

<app-modal #modal>
    <div class="app-modal-header">
        Candidatura a um projeto
    </div>
    <div class="app-modal-body" >
        <div *ngIf="success==true">
            <p>Recebido com sucesso.</p>  
        </div> 
        <div *ngIf="error==true" class="alert alert-danger">
            <p>Não foi possivel enviar a candidatura.</p>
        </div>
        <div *ngIf="success==false"> 
            <div *ngIf="group==null">
                <p>Para enviar uma candidatura tens de ser membro de um grupo.</p> 
                <a></a>
            </div>
            <div *ngIf="group">
                <p>Tens a certeza que te queres candidatar com o grupo {{group.name}}?</p>  
                <!--<select id="slChooseGroup"  class="form-control"  [(ngModel)]="group_id">                     
                    <option *ngFor="let group of groups" value={{group.id}}>{{group.name}} </option>
                </select>  -->
            </div>
        </div>
    </div>
    <div class="app-modal-footer">
        <div *ngIf="success==false" style="float:left;">
            <button id="btCancelProjAppl" type="button" class="btn btn-danger" (click)="modal.hide()">Cancelar</button>
            <div *ngIf="group" style="float:left;">
                <button type="button" class="btn btn-success" (click)="ApplicationSubmit(modal.project_id)" style="margin-left:10px;">Submeter</button>
            </div>  
        </div> 
        <div *ngIf="success==true">
            <button id="btProceedProjAppl" type="button" class="btn btn-primary" (click)="modal.hide()">Ok</button>
        </div> 
    </div>
</app-modal>
<!-- Modal -->
<div id="projListModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-body">
                <form>
                    <div class="form-group input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>
                        <input id="searchproj" class="form-control" type="text" placeholder="Enter a project name..." [(ngModel)]="searchFilter" name="searchFilter">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>