<button (click)="onTestGet()">Test GET request</button>
 <p>Output: {{getData}}</p>
<button (click)="onTestPost()">Test POST request</button>
 <p>Output: {{postData}}</p>
 
 <button (click)="pushMe()">Fetch dos dados preenchidos</button>
 
 <div class="form-group">
  <label for="sel1">Escola:</label>
  <select class="form-control" id="sel1" [(ngModel)]="escola">
    <option>IPT</option>
  </select>
</div>
 <div class="form-group">
  <label for="sel1">Curso:</label>
  <!--working-->
  <select class="form-control" id="sel1" [(ngModel)]="curso">
    <option>Engenharia Informátiva</option>
  </select>
</div>
<div class="container">
  <form>
    <div class="form-group">
      <label for="usr">Título:</label>
      <!--working-->
      <input type="text" class="form-control" id="inputArea" [(ngModel)]="titulo" name="title">
    </div>
  </form>
</div>
<div class="form-group">
  <label for="sel2">Nº de Alunos:</label>
  <!--working-->
  <select class="form-control" id="sel2" ng-selected="5" [(ngModel)]="nAlunos">
    <option>1</option>
    <option>2</option>
    <option>3</option>
    <option>4</option>
    <option>5</option>
  </select>
</div>
 <div class="form-group">
  <label for="comment">Objetivos Específicos:</label>
  <textarea class="form-control" rows="5" id="objetivos" [(ngModel)]="objetivos"></textarea>
</div>
 <div class="form-group">
  <label for="comment">Pré-requisitos:</label>
  <textarea class="form-control" rows="5" id="requesitos" [(ngModel)]="requesitos"></textarea>
</div>
<div class="form-group">
  <label for="sel2">Nº de Orientadores:</label>
  <select class="form-control" id="sel2" [(ngModel)]="orientadores">
    <option>1</option>
    <option>2</option>
  </select>
</div>
