@media screen and (max-width: 850px) {
    .sidenav {
        height: auto;
        padding: 15px;
    }
    .row.content {height:auto;} 

    h1 {font-size: 5.9vmin;}
    h2 {font-size: 4.0vmin;}
    h4 {font-size: 2.0vmin;}
    h5 {font-size: 1.7vmin;}
    p {font-size: 2vmin;}
    .btn-default{font-size: 2.0vmin;}

}

@media screen and (max-width: 1053px) {
    h4 {font-size: 2.8vmin;}
    h5 {font-size: 2.4vmin;}
}
