/* You can add global styles to this file, and also import other style files */
body{
    background: url('../assets/img/politecnico-tomar-fachada.jpg') no-repeat;
    background-size: 100%;
}

    .navbar {
      margin-bottom: 0;
      border-radius: 0;
      padding-left: 5%;
      padding-right:5%;
    }
    
    /* Set height of the grid so .sidenav can be 100% (adjust as needed) */
    .row.content {height: 450px}
    
    .text-left{
        background-color: #FFFFFF;
        padding: 20px;
        /*height: 100%;*/
    }

    /* Set gray background color and 100% height */
    .sidenav {
      
    }
    
    /* Set black background color, white text and some padding */
    footer {
      background-color: #555;
      color: white;
      position:fixed; bottom:0px; width: 100%;
      padding: 10px;
    }
    
    /* On small screens, set height to 'auto' for sidenav and grid */
@media screen and (max-width: 850px) {
    .sidenav {
        height: auto;
        padding: 15px;
    }
    .row.content {height:auto;} 
    
    h1 {font-size: 5.9vmin;}
    h2 {font-size: 4.0vmin;}
    h4 {font-size: 2.0vmin;}
    p {font-size: 2vmin;}
    .btn-default{font-size: 2.0vmin;}

}

@media screen and (max-width: 1060px) {
    h4 {font-size: 2.8vmin;}
}
#login-dp{
    min-width: 350px;
    padding: 14px 14px 0;
    overflow:hidden;
    background-color:rgba(255,255,255,.8);
}
#login-dp .help-block{
    font-size:12px    
}
#login-dp .bottom{
    background-color:rgba(255,255,255,.8);
    border-top:1px solid #ddd;
    clear:both;
    padding:14px;
}
#login-dp .social-buttons{
    margin:12px 0    
}
#login-dp .social-buttons a{
    width: 49%;
}
#login-dp .form-group {
    margin-bottom: 10px;
}
.btn-fb{
    color: #fff;
    background-color:#3b5998;
}
.btn-fb:hover{
    color: #fff;
    background-color:#496ebc 
}
.btn-tw{
    color: #fff;
    background-color:#55acee;
}
.btn-tw:hover{
    color: #fff;
    background-color:#59b5fa;
}
@media(max-width:768px){
    #login-dp{
        background-color: inherit;
        color: #fff;
    }
    #login-dp .bottom{
        background-color: inherit;
        border-top:0 none;
    }
}
