/* You can add global styles to this file, and also import other style files */
.right{
    z-index: 1;
    position: absolute;
    right: 0px;
    padding: 10px;
}
.navbar {
      font-family: Arial, Helvetica, sans-serif;
      margin-bottom: 0;
      background-color: #000000;
      border: 0;
      font-size: 15px !important;
      letter-spacing: 2px;
      border-radius: 0;
  }
  .navbar li a, .navbar .navbar-brand { 
      color: #d5d5d5 !important;
  }
  .navbar-nav li a:hover {
      color: #fff !important;
  }
  .navbar-nav li.active a {
      color: #fff !important;
      background-color: #29292c !important;
  }
  .navbar-default .navbar-toggle {
      border-color: transparent;
  }
  .open .dropdown-toggle {
      color: #fff;
      background-color: #555 !important;
  }
  .dropdown-menu li a {
      color: #000 !important;
  }
  .dropdown-menu li a:hover {
      background-color: red !important;
  }

/* Set black background color, white text and some padding */
footer {
    z-index: 1;
    background-color: #555;
    color: white;
    position:fixed; bottom:0px; width: 100%;
    padding: 10px;
}
    