<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>                        
        </button>
      <a id="anLinkToHome" class="navbar-brand" routerLink="/" routerLinkActive="active">{{organizacao}}</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <option-public></option-public>
      <login></login>
    </div>
  </div>
</nav>
<div id="notif" class="col-md-3 right"></div>
<div class="container text-left">
  <div class="row">
    <div class="col-md-12">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>

<footer class="container-fluid text-center footer">
  <p>{{ today | date : "y" }} - {{fim}}</p>
</footer>