<ul class="nav navbar-nav">
    <li><a id="routHome" routerLink="/home" routerLinkActive="active">Home</a></li>
    <li class="dropdown" *ngIf="role == 'student' || role == 'teacher'"> 
        <a id="routPubProj" (click)="load()" class="dropdown-toggle" data-toggle="dropdown" href="#">Projetos Públicos
        <span class="caret"></span></a>
        <ul class="dropdown-menu">
            <li *ngIf=" role != null" ><a id="routProjList" routerLink="/projects" routerLinkActive="active">Lista de Projetos</a></li>
            <li *ngIf="role=='teacher' && role != null"><a id="routSubProj" routerLink="/projectform" routerLinkActive="active">Submeter Projeto</a></li>
        </ul>
      </li>
    <li *ngIf="role == 'teacher'" ><a routerLink="/students" routerLinkActive="active">Perfis Públicos</a></li>
    <li><a id="routAbout" routerLink="/about" routerLinkActive="active">Sobre</a></li>
    <li><a id="routContact" routerLink="/contacts" routerLinkActive="active">Contactos</a></li>
</ul>
<ul class="nav navbar-nav navbar-right">
	<li id="nauth" class="dropdown" *ngIf="!autenticated">
		<a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-log-in"></span> Login <span class="caret"></span></a>
		<ul id="dpnauth" class="dropdown-menu login-dp">
			<li>
				<div class="row">
					<div class="col-md-12">
						<p style="color:#000000">Autenticação</p>
						<form class="form" role="form" method="post" action="login" accept-charset="UTF-8" id="login-nav">
							<div class="form-group input-group">
								<span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
								<input type="email" class="form-control" id="tfLogEmail" placeholder="Email" [(ngModel)]="email" name="email"
								 email required>
							</div>
							<div class="form-group input-group">
								<span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
								<input type="password" class="form-control" id="tfLogUserPass" placeholder="Password" [(ngModel)]="password" name="password"
								 required>
							</div>
							<div class="help-block text-right"><a routerLink="recovery" routerLinkActive="active">Esqueceu-se da Password?</a></div>

							<div *ngIf="error==true" class="alert alert-danger">
								<p>Dados incorrectos</p>
							</div>

							<div class="form-group">
								<button (click)="login()" id="btUserLogin" [disabled]="loading" class="btn btn-primary btn-block">Entrar</button>
								<div *ngIf="loading">
									<div class="loading" style="width:50px; height:50px; padding-top:30px;">
										<div class="loading-bar"></div>
										<div class="loading-bar"></div>
										<div class="loading-bar"></div>
										<div class="loading-bar"></div>
									</div>
								</div>

							</div>
							<div class="checkbox">
								<!--<label>
									<input type="checkbox" name="lembra_me"> 
								</label>-->
							</div>
						</form>
					</div>
					<div class="bottom text-center">
						<a id="anUserRegister" routerLink="/signup" routerLinkActive="active"><b>Registar</b></a>
					</div>
				</div>
			</li>
		</ul>
	</li>
	<li id="auth" class="dropdown" *ngIf="autenticated">
		<a href="#" (click)="load()" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-user"></span> Bem vindo {{name}}<span class="caret"></span></a>
		<ul id="dpauth" class="dropdown-menu login-dp">
			<li>
				<div class="row">
					<div id="optionsAuth" class="col-md-12">
						<div class="row">
							<div class="col-md-12">
								<a id="rlgroupjoin" routerLink="user/profile" routerLinkActive="active">Ver Perfil</a>
							</div>
							<div *ngIf="role=='student'" class="col-md-12">
								<a id="myApplications" routerLink="user/applications" routerLinkActive="active">Candidaturas</a>
							</div>						
							<div *ngIf="role=='student'" class="col-md-12">
								<a id="rlgroupcreate" routerLink="/group/create" routerLinkActive="active">Criar Grupo</a>
							</div>
							<div *ngIf="role=='student'" class="col-md-12">
								<a id="rlgroupjoin" routerLink="/group/join" routerLinkActive="active">Juntar ao Grupo</a>
							</div>
							<div class="col-md-12">
								<a id="rlgroupjoin" routerLink="/chpass" routerLinkActive="active">Alterar Password</a>
							</div>
							<div class="col-md-12" *ngIf="isadmin == 1">
								<a id="anDashAtvUsers" routerLink="/dashboard" routerLinkActive="active">Dashboard</a>
							</div>
						</div>
					</div>
					<div class="bottom text-center">
						<a id="btUserLogout" (click)="logout()"><span class="glyphicon glyphicon-user"></span> Logout </a>
					</div>
				</div>
			</li>
		</ul>
	</li>
</ul>