<h2>{{title}}</h2>
<hr>

<div class="panel panel-default">
  <div class="panel-heading">
    <h2 class="panel-title">Aplicação para projeto</h2>
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-md-6 form-group">
        <label for="slProjApplSchool">Escola:</label>
        <select class="form-control" id="slProjApplSchool">
          <option value="" style="display:none;"></option>
          <option value="">Teste</option>
          <!--<option !*ngFor="let school of getSchools">{{school.name}}</option>-->       
        </select>
      </div>
      <div class="col-md-6 form-group">
        <label for="slProjApplCourse">Curso:</label>
        <select class="form-control" id="slProjApplCourse">
          <option>Meme 101</option>
        </select>
      </div>
    </div>
    <div class="row">
      <div class="col-md-9 form-group">
        <form>
          <label for="tfProjApplName">Título:</label>
          <input id="tfProjApplName" type="text" class="form-control" [(ngModel)]=project.name name="title">
        </form>
      </div>
      <div class="col-md-3 form-group">
        <label for="slProjApplNStudent">Nº de Alunos:</label>
        <select id="slProjApplNStudent" class="form-control" ng-selected="5" [(ngModel)]=project.id>
          <option>1</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
          <option>5</option>
        </select>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 form-group">
        <label for="taProjApplDesc">Objetivos Específicos:</label>
        <textarea id="taProjApplDesc" class="form-control" rows="5" [(ngModel)]=project.description></textarea>
      </div>
    </div>
    <div class="row">
      <div class="col-md-9 form-group">
        <label for="taProjApplPreReq">Pré-requisitos:</label>
        <textarea id="taProjApplPreReq" class="form-control" rows="5" ></textarea>
      </div>
      <div class="col-md-3 form-group">
        <label for="taProjApplPreNMentors">Nº de Orientadores:</label>
        <select id="taProjApplPreNMentors" class="form-control" [(ngModel)]=project.course>
          <option>1</option>
          <option>2</option>
        </select>
        <br>
        <button id="btProjApplSubmit" class="btn btn-primary" (click)="onTestPost()">Submeter Projecto</button>
      </div>
    </div>
  </div>
</div>