<!DOCTYPE html>
<html lang="pt">
	<head>
		<script src="../AngularEsqueleto/Recursos/Angular/angular.min.js"></script>
		<meta charset="utf-8" />
		<title></title>
	</head>
	<body>
		<!--
		AngularJS extends HTML with ng-directives.
		The ng-app directive defines an AngularJS application.
		The ng-model directive binds the value of HTML controls (input, select, textarea) to application data.
		The ng-bind directive binds application data to the HTML view.
		-->
		<div ng-app="">
			<p>Valor1 : <input type="text" ng-model="v1"></p>
			<p ng-bind="v1"></p>
			<p>Valor2 : <input type="text" ng-model="v2"></p>
			<p ng-bind="v2"></p>
			<p>My first expression: {{v1-0 + (v2-0)|number}}</p>
		</div>
	</body>
</html>
