<h2>{{title}}</h2>
<hr>
<div class="panel panel-default">
    <div class="panel-body">
        <div class="row">
            <!--*ngFor="let application of applications"-->
            <div class="col-md-12" >
                <div class="row">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-9">
                                <h2>Grupo: Este é o nome do grupo</h2>
                            </div>
                            <div class="col-md-3">
                                <p>Submetido: 29/03/2017</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-9">
                                <p>Projeto: Nome do projeto</p>
                            </div>
                            <div class="col-md-3">
                                <p> Estado: <span class="label label-success">Aprovado </span> </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> 