<h1>{{title}}</h1>
<hr>
<div class="row">
    <div class="col-md-12">
        <div class="btn-group">
            <button id="btDashUbAtvUsers" type="button" class="btn btn-primary" routerLink="/dashboard" routerLinkActive="active">Ativar Utilizadores</button>
            <button id="btDashUbBlkUsers" type="button" class="btn btn-primary" routerLink="/dashboardusrblklist" routerLinkActive="active">Bloquear Utilizadores</button>
            <button id="btDashUbListProj" type="button" class="btn btn-primary" routerLink="/dashboard/projects" routerLinkActive="active">Lista de Projetos</button>
            <button id="rlgroupcreate" type="button" class="btn btn-primary" routerLink="/group/list" routerLinkActive="active" >Lista de Grupos</button>
        </div>
        <hr>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <!-- Exemple of a student -->
        <div *ngFor="let student of students | studentFilter:searchFilter" class="row">
            <div class="col-md-4">
                <img class="img-rounded" src="https://placehold.it/150x150?text=Diogo Mendes" style="width:100%; max-width: 150px; min-width: 70px; padding-bottom: 10px"
                    alt="Image">
            </div>
            <div class="col-md-8">
                <div>
                    <h4><small>{{student.phonenumber}}</small></h4>
                    <h4>{{student.name}}</h4>
                    <h5>{{student.email}}</h5>
                    <h5>{{student.external_id}}</h5>
                </div>                
                <div *ngIf="student.locked == 0" >
                    <p class="btn btn-danger" id='btBlk{{student.id}}' (click)="onClick(student.id)" routerLink="/dashboardusrblklist" routerLinkActive="active">Bloquear Utilizador</p>
                </div>
                <div *ngIf="student.locked == 1" >
                    <p class="btn btn-warning" id='btBlk{{student.id}}' (click)="onClick(student.id)" routerLink="/dashboardusrblklist" routerLinkActive="active">Desbloquear Utilizador</p>
                </div>
            </div>
            
            <hr>
        </div>
        <br>
        <!-- end exemple -->
    </div>
</div>