<!-- Page Content -->
<div class="container">

    <!-- Introduction Row -->
    <div class="row">
        <div class="col-lg-12">
            <h2 class="page-header">{{title}}</h2>
            <p>{{saudacao}}</p>
        </div>
    </div>

    <!-- Team Members Row -->
    <div id="team" class="row">
        <div class="col-lg-12">
            <h2 class="page-header">A nossa Equipa</h2>
        </div>
        <div class="member col-lg-4 col-md-4 col-sm-4 col-xs-6">
            <div class="col-md-4">
                <img class="img-circle img-responsive" src="http://placehold.it/100x100" alt="">
            </div>
            <div class="col-md-8">
                <h4>Alexandre Ferreira</h4>
                <span>Análise de Sistemas</span>
            </div>
        </div>
        <div class="member col-lg-4 col-md-4 col-sm-4 col-xs-6">
            <div class="col-md-4">
                <img class="img-circle img-responsive" src="http://placehold.it/100x100" alt="">
            </div>
            <div class="col-md-8">
                <h4>André Santos</h4>
                <span>Testes</span>
            </div>
        </div>
        <div class="member col-lg-4 col-md-4 col-sm-4 col-xs-6">
            <div class="col-md-4">
                <img class="img-circle img-responsive" src="http://placehold.it/100x100" alt="">
            </div>
            <div class="col-md-8">
                <h4>António Ferreira</h4>
                <span>Análise de Sistemas</span>
            </div>
        </div>
        <div class="member col-lg-4 col-md-4 col-sm-4 col-xs-6">
            <div class="col-md-4">
                <img class="img-circle img-responsive" src="http://placehold.it/100x100" alt="">
            </div>
            <div class="col-md-8">
                <h4>Bruno Freitas</h4>
                <span>Testes</span>
            </div>
        </div>
        <div class="member col-lg-4 col-md-4 col-sm-4 col-xs-6">
            <div class="col-md-4">
                <img class="img-circle img-responsive" src="http://placehold.it/100x100" alt="">
            </div>
            <div class="col-md-8">
                <h4>Cristina Coxinho</h4>
                <span>Análise de Sistemas</span>
            </div>
        </div>
        <div class="member col-lg-4 col-md-4 col-sm-4 col-xs-6">
            <div class="col-md-4">
                <img class="img-circle img-responsive" src="http://placehold.it/100x100" alt="">
            </div>
            <div class="col-md-8">
                <h4>Daniel Casimiro</h4>
                <span>API</span>
            </div>
        </div>
        <div class="member col-lg-4 col-md-4 col-sm-4 col-xs-6">
            <div class="col-md-4">
                <img class="img-circle img-responsive" src="http://placehold.it/100x100" alt="">
            </div>
            <div class="col-md-8">
                <h4>David Bernardo</h4>
                <span>Frontend</span>
            </div>
        </div>
        <div class="member col-lg-4 col-md-4 col-sm-4 col-xs-6">
            <div class="col-md-4">
                <img class="img-circle img-responsive" src="http://placehold.it/100x100" alt="">
            </div>
            <div class="col-md-8">
                <h4>Henrique Bernardo</h4>
                <span>Testes</span>
            </div>
        </div>
        <div class="member col-lg-4 col-md-4 col-sm-4 col-xs-6">
            <div class="col-md-4">
                <img class="img-circle img-responsive" src="http://placehold.it/100x100" alt="">
            </div>
            <div class="col-md-8">
                <h4>João Canoso</h4>
                <span>API</span>
            </div>
        </div>
        <div class="member col-lg-4 col-md-4 col-sm-4 col-xs-6">
            <div class="col-md-4">
                <img class="img-circle img-responsive" src="http://placehold.it/100x100" alt="">
            </div>
            <div class="col-md-8">
                <h4>João Gracio</h4>
                <span>Base de Dados</span>
            </div>
        </div>
        <div class="member col-lg-4 col-md-4 col-sm-4 col-xs-6">
            <div class="col-md-4">
                <img class="img-circle img-responsive" src="http://placehold.it/100x100" alt="">
            </div>
            <div class="col-md-8">
                <h4>Luis Nunes</h4>
                <span>Frontend</span>
            </div>
        </div>
        <div class="member col-lg-4 col-md-4 col-sm-4 col-xs-6">
            <div class="col-md-4">
                <img class="img-circle img-responsive" src="http://placehold.it/100x100" alt="">
            </div>
            <div class="col-md-8">
                <h4>Miguel Silva</h4>
                <span>Testes</span>
            </div>
        </div>
        <div class="member col-lg-4 col-md-4 col-sm-4 col-xs-6">
            <div class="col-md-4">
                <img class="img-circle img-responsive" src="http://placehold.it/100x100" alt="">
            </div>
            <div class="col-md-8">
                <h4>Paulo Alfaiate</h4>
                <span>Base de Dados</span>
            </div>
        </div>
        <div class="member col-lg-4 col-md-4 col-sm-4 col-xs-6">
            <div class="col-md-4">
                <img class="img-circle img-responsive" src="http://placehold.it/100x100" alt="">
            </div>
            <div class="col-md-8">
                <h4>Paulo Santos</h4>
                <span>Professor</span>
            </div>
        </div>
        <div class="member col-lg-4 col-md-4 col-sm-4 col-xs-6">
            <div class="col-md-4">
                <img class="img-circle img-responsive" src="http://placehold.it/100x100" alt="">
            </div>
            <div class="col-md-8">
                <h4>Pedro Dias</h4>
                <span>Professor</span>
            </div>
        </div>
        <div class="member col-lg-4 col-md-4 col-sm-4 col-xs-6">
            <div class="col-md-4">
                <img class="img-circle img-responsive" src="http://placehold.it/100x100" alt="">
            </div>
            <div class="col-md-8">
                <h4>Rafael Escudeiro</h4>
                <span>Análise de Sistemas</span>
            </div>
        </div>
        <div class="member col-lg-4 col-md-4 col-sm-4 col-xs-6">
            <div class="col-md-4">
                <img class="img-circle img-responsive" src="http://placehold.it/100x100" alt="">
            </div>
            <div class="col-md-8">
                <h4>Renato Antunes</h4>
                <span>Análise de Sistemas</span>
            </div>
        </div>
        <div class="member col-lg-4 col-md-4 col-sm-4 col-xs-6">
            <div class="col-md-4">
                <img class="img-circle img-responsive" src="http://placehold.it/100x100" alt="">
            </div>
            <div class="col-md-8">
                <h4>Ricardo António</h4>
                <span>Análise de Sistemas</span>
            </div>
        </div>
        <div class="member col-lg-4 col-md-4 col-sm-4 col-xs-6">
            <div class="col-md-4">
                <img class="img-circle img-responsive" src="http://placehold.it/100x100" alt="">
            </div>
            <div class="col-md-8">
                <h4>Rui Marques</h4>
                <span>API/Vagrant</span>
            </div>
        </div>
        <div class="member col-lg-4 col-md-4 col-sm-4 col-xs-6">
            <div class="col-md-4">
                <img class="img-circle img-responsive" src="http://placehold.it/100x100" alt="">
            </div>
            <div class="col-md-8">
                <h4>Rui Silva</h4>
                <span>Base de Dados</span>
            </div>
        </div>
        <div class="member col-lg-4 col-md-4 col-sm-4 col-xs-6">
            <div class="col-md-4">
                <img class="img-circle img-responsive" src="http://placehold.it/100x100" alt="">
            </div>
            <div class="col-md-8">
                <h4>Arruá Valentim</h4>
                <span>Análise de Sistemas</span>
            </div>
        </div>
    </div>